
h2{
    text-align: center;
    color: green;
    font-size: 40px;
}

body{
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("https://mindenamihallas.hu/cms_mindenamihallas/upload/blog/egeszseg/Etelek_a_hallas_egeszsegeert_a_vitaminok_ereje.jpg");
    color: black;
}

table, td{
    border: 1px solid red;
    border-collapse: collapse;
    font-size: 20px;
}

div{
    background-color: lightgreen;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    
}
